/*boxes and container */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: "Roboto", sans-serif;
}

.hero, 
.info, 
.quote, 
.sign{
    border: 1px solid darkblue;
    display: flex;
    justify-content: center;
}

.hero-container,
.info-container,
.quote-container,
.sign-containter{
    border: 1px solid red;
    width: 80%;
}

.hero, 
.footer{
    background-color: #1F2937;
    color: #ffffff;

}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
/* hero */
.hero-container{
    min-height: 680px;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

ul{
    display: flex;
    list-style-type: none;
    
    
}
a{
    color:#ffffff;
    text-decoration: none;
}

li{
    margin: 20px;
}

.logo-text{
    font-size: 24px;
    color: #F9FAF8;
}

.hero-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;
}

h1{
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8; 
}

.body-text{
    font-size: 18px;
    color: #E5e7eb;
    margin-bottom: 12px;
    width: 450px;
}
button{
    background-color: #3882f6;
    color: #ffffff;
    padding: 12px 45px;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 18px;
}

.hero-text{
    flex: 1;
    
}
.hero-image{
    flex: 2;
    display: flex;
    justify-content: flex-end;
}

/*info*/

.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 500px;
}

.info-gallery{
    display: flex;
    gap: 54px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
}
h2{
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    padding: 16px 0;
    
}    

.info-boxes{
    width: 180px;
}
.image-one{
    border-radius: 20px;
}
.boxes-text{
    font-size: 16px;
}


/*quote*/

.quote{
    background-color: #E5e7eb;

}

.quote-container{
    MIN-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qto{
    width: 50%;

}

blockquote{
    font-size: 36px;
    font-weight: 280;
    color: #1F2937;
}

figcaption{
    text-align: right;
    font-weight: 800;
    color:#1F2937;
    font-size: 20px;
}